---
layout: default
title: Igor Ferreira
i18ntitle: information.title
---

<script>
  if (window.location.pathname === "/") {
    const userLang = navigator.language || navigator.userLanguage;
    const locale = new Intl.Locale(userLang);
    if (locale.language === "en") {
      window.location.replace("/en");
    } else {
      window.location.replace("/pt");
    }
  }
</script>

<div class="posts">
  {% for post in paginator.posts %}
  {% include postcontent.html post=post %}
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}">{% t navigation.older %}</a>
  {% else %}
    <span class="pagination-item older">{% t navigation.older %}</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/">{% t navigation.newer %}</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">{% t navigation.newer %}</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">{% t navigation.newer %}</span>
  {% endif %}
</div>
